<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="book" class="com.hmz.Book" scope="prototype">
        <constructor-arg name="name" value="水浒传"></constructor-arg>
        <constructor-arg name="author" value="施耐庵"></constructor-arg>
    </bean>
</beans>